.box-bottons {
  margin-bottom: 15px;
}

.btn {
  color: rgb(5, 5, 5);
  padding: 5px 24px;
  border-radius: 30px;
  font-weight: lighter;

  &:hover {
    text-decoration: none;
    color: rgb(5, 5, 5);
  }
}

.botton-home {
  border: 2px solid #757bc8;
  background-color: #757bc8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botton-back {
  border: 2px solid #c77dff;
  background-color: #c77dff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botton-lists {
  border: 2px solid #7b2cbf;
  background-color: #7b2cbf;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botton-show {
  border: 1px solid #4d048d;
  background-color: #4d048d;
  width: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

.botton-edit {
  border: 1px solid #ee4d9d;
  background-color: #ee4d9d;
  width: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

.edit-task {
  border: 1px solid #ee4d9d;
  background-color: #ee4d9d;
  width: 100px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  margin-left: 15px;
}

.botton-delete {
  border: 1px solid #eb2a5a;
  background-color: #eb2a5a;
  width: 46px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}

.botton-new {
  border: 1px solid #eb2a5a;
  background-color: #eb2a5a;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botton-logout {
  border: 2px solid #9d4edd;
  background-color: #9d4edd;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botton-login {
  border: 2px solid #9d4edd;
  background-color: #9d4edd;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botton-back {
  border: 2px solid #ee4d9d;
  background-color: #ee4d9d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-adjuste {
  margin-left: 37px;
  margin-bottom: 20px;
}

.btn-del {
  margin-left: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.botton-search {
  border: 2px solid #c77dff;
  background-color: #c77dff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botton-warning {
  border: 2px solid #ff9e00;
  background-color: #ff9e00;
  color: rgb(5, 5, 5);
  padding: 5px 24px;
  border-radius: 30px;
  font-weight: lighter;

  &:hover {
    text-decoration: none;
    color: rgb(5, 5, 5);
  }
}
