.corpo-login {
  margin: 350px 0 0 350px;
  display: inline-block;
  align-items: center;
  margin-top: 60px;
  max-width: 400px;
  width: 100%;
  background: linear-gradient(140deg, #B9B5B5, #524235);
  border-radius: 10px;
  opacity: 0.9;
}

.escopo {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
