.lists-banner-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1559323629-ad0599c648ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

hr {
  display: block;
  margin-top: 20;
  margin-bottom: 0.5em;
  width: 50%;
  border-style: inset;
  border-width: 1px;
  border-color: yellow;
  background-color: yellow;
  color: yellow;
}

.new-list {
  display: flex;
  margin-left: 575px;
  margin-bottom: 50px;
}

.title-index {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:black;
}

.list-name {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list-index {
  display: flex;
  justify-content: space-around;
}

.flat-list {
  border-radius: 10px;
  border: 2px solid #eb2a5a;
}

.list-bottons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.space-bottons {
  margin-bottom: 20px;
}

.back-index {
  margin-top: 20px;
  margin-left: 1225px;
}
